{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.2.0"}}}
       ,{jiffy, "0\.14\.11", {git, "https://github.com/davisp/jiffy", {tag, "0.14.11"}}}
       ,{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.1"}}}
       ,{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
       ]}.
{plugins, [
           rebar3_auto,
           rebar3_run
          ]}.

{relx, [{release, {bank, "0.0.1"},
         [bank,
          runtime_tools,
          observer,
          wx]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.
